#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-icon {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;  
  border-radius: 50%;
}



.profile-photo {
  position: absolute;
  top: 125px;
  right: 50px;
  width: 200px;
  height: 350px;
  background: rgb(173, 21, 21);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}